<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Controlleur Réserve d'Eau de Drainage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div class="container">
<div class="row">
{% if pompes %}
<ul>
    {% for p in pompes %}
    <li><a href="/polls/{{p.id}}">{{ p.name }}</a> : {{ p.current_state.state }} at {{ p.current_state.date }}</li>
    {% endfor %}
</ul>
{% else %}
Contatez l'administrateur pour configurer le systeme.
{% endif %}
</div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>